@model FinanceManager.Web.Models.PeriodSummaryViewModel
@using FinanceManager.BL
@{
    ViewBag.Title = "Home Page";
}
<head>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="root">
    </div>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="~/js/vendors/react.development.js" crossorigin></script>
    <script src="~/js/vendors/react-dom.development.js" crossorigin></script>
    <link rel="stylesheet" href="~/js/vendors/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="~/js/src/components.js"></script>
</body>